header {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px 15px 25px;
    background-color: rgb(255, 255, 255);


    h3{
        color: 	rgb(255, 211, 44);
        font-size: 70px;
        font-weight: 700;
        
    }
    nav {
        display: flex;
        align-items: center;

        ul{
            li{

                a{
                    display: inline;
                    font-size: 16px;
                    color: black;
                    font-weight: 700;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .buttons {
            display: flex;
            margin-left: 24px;

            button{
                font-size: 16px;
                font-weight: 700;
                padding: 11px 12px;
                border-radius: 24px;
                border: none;

                display: flex;
                align-items: center;
                justify-content: center;
            }
            .login {
                color: rgb(0, 0, 0);
                background: rgb(255, 234, 153)
                ;
            }
            .sign-up {
                margin-top: black;
                background-color: rgb(255, 234, 153)
                ;
            }
        }
    }
}